<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!--  Este div a seguir é excluisvo para caso de erro na hora de salvar o titulo
		  e exiba alguma coisa para o usuario -->

	<!--  th:if="${#fields.hasAnyErrors()}" faz o seguinte: Se no ojeto (titulo),
		  o qual foi criado no form, algum dos seus campos (fields) tem algum 
		  erro (hasAnyErros()) exiba a mensagem (<span>) para o usuario 
		  porem, como podemos ter vários e varios erros foi criado uma nova div
		  para que possmos percore-la buscando o erro especifico -->

	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">

	<!-- "detailedError: ${#fields.detailedErrors()}"
		  recebe uma lista de erros que foi gerado dentro do metodo 
		  detailedErros 

		  ${detailedError.message}
		  exibe a mensagem deo erro que foi encontrado -->

		<div th:each="detailedError: ${#fields.detailedErrors()}">
			<span th:text="${detailedError.message}"></span>
		</div>
	</div>	

</html>